DATABASE_URL="postgresql://username:password@host:25060/techstore?sslmode=require&schema=public"
TELEGRAM_BOT_TOKEN=""
ADMIN_TELEGRAM_IDS=""
ADMIN_USERNAMES="y_e_h_t_u_t"
JOIN_CHANNEL_LINK="https://t.me/KMZCreationsMM"
PAYMENT_PHONE="09986075167"
PAYMENT_ACCOUNT_NAME="Ye Htut Naing"
GUIDE_TOPUP_VIDEO_URL=""
GUIDE_BUY_VIDEO_URL=""
ADMIN_PANEL_USERNAME="YeHtut"
ADMIN_PANEL_PASSWORD="KMZgaming"
ADMIN_SESSION_SECRET="change-this-secret"
OUTLINE_API_URL="https://159.223.55.193:64519/g0VqaB01yZcs90cUB1jcTg"
OUTLINE_INSECURE_TLS="true"

DIGITALOCEAN_TOKEN=""
DO_REGION="sgp1"
DO_DB_CLUSTER_NAME="techstore-db"
DO_DB_NAME="techstore"
DO_APP_NAME="techstore-bot"
DO_GITHUB_REPO=""
DO_GITHUB_BRANCH="main"
